{% extends 'template.html' %}
{% block content %}
{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/searchbar.js' %}"></script>

<div class="container">
	<div>
	This might still not working... but yeah, try it
	</div>
  <input class="form-control mb-4" id="barsearch" type="text"
    placeholder="Try to type something and check if it works...">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
		<th>Title</th>
      </tr>
    </thead>
    <tbody id="Tabs">
      <tr>
        <td>George</td>
        <td>Coolio</td>
		<td>21</td>
		<td>Sergeant Detergent</td>
      </tr>
      <tr>
        <td>Marcos</td>
        <td>Valvulcan</td>
		<td>65</td>
		<td>Leader of the Bathrooms</td>
      </tr>
      <tr>
        <td>Leroy</td>
        <td>Bambano</td>
		<td>15</td>
		<td>Bamboo Sharpener</td>
      </tr>
	  <tr>
        <td>Jeremiah</td>
        <td>Tennes</td>
		<td>70</td>
		<td>Sleepwalker</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}