{% extends 'template.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>My Page.</title>
<!-- Start of page content -->


<!-- Text landing -->
<div class="container">
    <img src="{% static 'assets/zoza.png' %}" class="gambar">
    <div class="heroText">
        Zovier Zharvan Filhaq
    </div>
    <div>
        Sedikit tentang saya, saya mahasiswa Fasilkom UI angkatan 2018 yang berasal dari SMA Kharisma Bangsa. Hobi saya menulis cerita. Sekian.
    </div>
</div>

<div class="container2">
	<div>
	    <a href="{%url 'main:index' %}"> Klik disini untuk pindah ke Blog yang lebih bagus. </a>
	</div>
</div>

{% endblock %}